body > .footer{
    position: absolute;
    padding: 0%;
    margin: 0%;
    height:15%;
	width:100%;
    left: 0px;
	top:auto;
    bottom: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-style: dashed;
	border-width: 5px;
	border-color: grey;
}