body > .footer{
    position: absolute;
    padding: 0%;
    margin: 0%;
    height:15%;
	width:100%;
    left: 0px;
	top:auto;
    bottom: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-style: dashed;
	border-width: 2px;
	border-color: grey;
	z-index: 0;

}

.footer > nav{
	text-align:center;
	font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

nav > a {
	margin-left:20px;
	color:grey;
	text-decoration:none;
}

nav > #one:hover + #one{
	text-decoration: underline overline !important;
}

nav > #two:hover + #two{
	text-decoration: underline overline;
}

nav > #three:hover + #three{
	text-decoration: underline overline;
}

nav > #four:hover + #four{
	text-decoration: underline overline;
}